<select [(ngModel)]="selectedOption" (ngModelChange)="onDropdownChange($event)">
  <option *ngFor="let option of dropdownOptions" [value]="option">
    {{ option }}
  </option>
</select>

<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let controlName of dynamicForm.controls | keyvalue">
    <div *ngSwitchCase="'input'">
      <input type="text" [formControlName]="controlName.key" />
    </div>
    </ng-container>
  <button type="submit" [disabled]="!dynamicForm.valid">Submit</button>
</form>
