<form [formGroup]="form">
  <div *ngFor="let relation of relationSelected(relationKey)">
    <h3>{{ relation.label }}</h3>
    <div *ngFor="let field of relation.fields">
      <label>{{ field.label }}</label>
      <input *ngIf="field.type === 'bool'" type="checkbox" [formControlName]="field.key">
      <input *ngIf="field.type === 'string'" type="text" [formControlName]="field.key">
      <select *ngIf="field.type === 'enum'" [formControlName]="field.key">
        <option *ngFor="let value of field.values" [value]="value.key">{{ value.label }}</option>
      </select>
      <div *ngIf="error" class="error">{{error.required ? 'please this field is required':''}}</div>
    </div>
  </div>
  <button type="button" (click)="onSubmit()">Send</button>
</form>